@page "/about"
<Animate></Animate>
<div class="-mt-[82px] flex-grow overflow-x-hidden lg:-mt-[106px]">
    <div class="bg-[url(../images/inner-page-hero-bg.png)] bg-cover bg-bottom bg-no-repeat pt-[82px] lg:pt-[106px]">
        <div class="relative">
            <div class="container">
                <div class="items-center justify-between py-10 md:flex md:h-[400px] md:py-0">
                    <div class="heading relative mb-0 text-center ltr:md:text-left rtl:md:text-right">
                        <h6>About Angor</h6>
                        <h4 class="!text-white">
                            Bitcoin-based crowdfunding
                        </h4>
                    </div>
                    <div class="relative mt-6 md:mt-0" data-aos="fade-left" data-aos-duration="1000">
                        <img src="assets/images/logo.svg" alt="Angor" class="mx-auto w-[70%] rtl:rotate-y-180 sm:w-auto md:mx-auto" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="py-14 dark:bg-gradient-to-t dark:from-white/[0.02] dark:to-transparent lg:py-20">
        <div class="container">
            <div class="relative">
                <div class="heading mb-5 text-center ltr:lg:text-left rtl:lg:text-right">
                    <h4 class="">Think of it as a trustless, risk-minimized ICO</h4>
                </div>
                <p class="mt-14 mb-10 text-lg font-semibold">
                    With Angor, investors maintain complete control of their funds by locking coins into special timelock contracts until they need to be used. At any given point, investors can recover the funds that have not been released to the founders.
                </p>

                <div class="mb-10 space-y-14">
                    <h4 class="text-[22px] font-extrabold text-black dark:text-white mb-10">Key Features</h4>
                    <ul class="list-disc ltr:pl-5 rtl:pr-5 mb-10">
                        <li class="text-lg font-semibold mb-3">
                            <h4 class="text-[14px] font-extrabold text-black dark:text-white"> Decentralized Crowdfunding:</h4>
                            Angor operates on the Bitcoin network, offering a decentralized crowdfunding mechanism.
                        </li>
                        <li class="text-lg font-semibold mb-3">
                            <h4 class="text-[14px] font-extrabold text-black dark:text-white">Trustless Protocol:</h4>
                            Angor ensures trustlessness by employing time-locked contracts and multisig schemes, mitigating fraud and boosting investor confidence.
                        </li>
                        <li class="text-lg font-semibold mb-3">
                            <h4 class="text-[14px] font-extrabold text-black dark:text-white">Founder-Investor Alignment:</h4>
                            The protocol aligns project incentives with investor interests, fostering a mutually beneficial relationship.
                        </li>
                        <li class="text-lg font-semibold mb-3">
                            <h4 class="text-[14px] font-extrabold text-black dark:text-white">Investor Control:</h4>
                            Investors maintain active control over their investments, with the ability to recover funds at any time, penalty-free under certain conditions.
                        </li>
                        <li class="text-lg font-semibold mb-3">
                            <h4 class="text-[14px] font-extrabold text-black dark:text-white">Advanced Tracking Tools:</h4>
                             Angor provides advanced analytics, reporting, and optimization tools to assist investors in making informed decisions.
                         </li>
                    </ul>
                </div>

                <div class="mb-10">
                    <h4 class="text-[22px] font-extrabold text-black dark:text-white">Acknowledgement and Privacy</h4>
                    <p class="text-lg font-semibold">
                        We are committed to continuously improving our platform to ensure the utmost security and privacy for our users. Stay tuned for updates on our acknowledgment and privacy policies.
                    </p>
                </div>

                <div class="mb-10">
                    <h4 class="text-[22px] font-extrabold text-black dark:text-white">Get Started with Angor</h4>
                    <p class="text-lg font-semibold mb-10">
                        Ready to experience the future of decentralized crowdfunding? Sign up with Angor today and unlock the potential of your investments.
                    </p>
                    <div class="flex justify-center mt-6">
                        <a href="https://app.angor.io" target="_blank" class="btn px-8 py-3 bg-blue-600 text-white rounded-md font-semibold hover:bg-blue-700 transition duration-300">Go to the Angor App</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@code {

}
