/* Typography */

.block-title {
  @apply text-primaryText text-3xl font-bold tracking-normal sm:text-4xl md:text-5xl;
}
.block-big-title {
  @apply text-primaryText text-4xl xl:text-5xl font-bold tracking-normal sm:text-5xl md:text-6xl;
}
.block-subtitle {
  @apply text-xs text-secondaryColor tracking-wider font-bold uppercase sm:text-sm md:text-base;
}
.content-title {
  @apply text-primaryText text-lg font-bold tracking-normal sm:text-xl md:text-2xl;
}
.content-text-white {
  @apply text-primaryText text-base leading-relaxed sm:text-lg md:text-xl;
}
.content-text-gray {
  @apply text-gray-400 text-base sm:text-lg md:text-xl;
}

/* Borders */

.main-border-gray {
  @apply border border-solid border-mainBorder;
}
.main-border-gray-darker {
  @apply border border-solid border-mainBorderDarker;
}

/* Buttons */

.contained-button {
  @apply rounded-lg font-bold bg-primaryColor text-primaryText flex justify-center items-center hover:bg-[#086c81] cursor-pointer transition sm:text-lg md:text-xl;
}
.outlined-button {
  @apply text-primaryText main-border-gray rounded-xl bg-bgDark2 hover:bg-bgDark3 border-gray-700 text-sm sm:text-base md:text-lg;
}

/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}

/* Smooth Scrollbar */
html {
  scroll-behavior: smooth;
}

.chart-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Ensure charts wrap on smaller screens */
}

.bar {
  width: 100px;
  background-color: #009fb5;
  color: #fff;
  text-align: center;
  padding: 5px;
  transition: height 0.5s ease;
}

.top-most {
  z-index: 10000;
}
