---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar.jsx';
import { Footer } from '../components/Footer.jsx';
import '../styles/Theme.css';
import { ScrollUpButton } from '../components/ScrollUpButton';
import { Page } from '../components/Page';
import { PrivacyText } from '../components/PrivacyText';  

const pageData = {
  title: "Privacy Policy",
  subtitle: "How we protect your privacy",
  date: new Date().toISOString().split('T')[0],
  content: "",
  footer: "Last updated: " + new Date().toISOString().split('T')[0]
};
---

<Layout title="Privacy Policy | Angor">
  <Navbar client:visible />
  <Page pageData={pageData} />
  <div class="flex justify-center bg-bgDark2">
    <div class="2xl:w-[1280px] xl:w-10/12 w-11/12 mx-auto">
      <PrivacyText />
    </div>
  </div>
  <Footer />
  <ScrollUpButton client:visible />
</Layout>
