@page "/faq"
<Animate></Animate>
<div class="-mt-[82px] flex-grow overflow-x-hidden lg:-mt-[106px]">
    <div class="bg-[url(../images/inner-page-hero-bg.png)] bg-cover bg-bottom bg-no-repeat pt-[82px] lg:pt-[106px]">
        <div class="relative">
            <div class="container">
                <div class="items-center justify-between py-10 md:flex md:h-[400px] md:py-0">
                    <div class="heading relative mb-0 text-center ltr:md:text-left rtl:md:text-right">
                        <h6>FAQ</h6>
                        <h4 class="!text-white">
                            Frequently Asked Questions
                        </h4>
                    </div>
                    <div class="relative mt-6 md:mt-0" data-aos="fade-left" data-aos-duration="1000">
                        <svg width="296" height="282" viewBox="0 0 296 282" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-auto rtl:rotate-y-180 md:mx-0">
                            <path d="M231.952 175.66L179.059 183.544C176.507 172.117 175.151 166.423 174.259 162.332C170.528 145.337 155.761 139.506 151.672 138.215C151.158 141.296 133.21 151.969 125.064 147.09C95.2442 186.023 76.853 211.467 37.4446 248.766C31.3844 254.385 49.0355 273.682 55.1252 268.152C93.0502 234.169 113.213 215.57 141.817 180.754L136.288 162.397L159.999 203.135C161.684 206.024 164.215 208.327 167.25 209.733C170.286 211.137 173.679 211.575 176.972 210.99L236.396 200.282C241.722 199.413 237.407 174.675 231.952 175.66Z" fill="#FF9900"></path>
                            <path d="M99.3399 47.0171L90.4555 5.74609L76.7759 8.68794C76.0665 8.85315 75.4185 9.21654 74.9075 9.73555C74.3964 10.2547 74.0432 10.9083 73.8892 11.6202C73.7351 12.3321 73.7864 13.0732 74.037 13.7572C74.2876 14.4411 74.7273 15.0399 75.305 15.4836C76.622 16.4984 77.6216 17.8685 78.186 19.4323C78.7504 20.9963 78.8561 22.689 78.4907 24.311C78.1253 25.9329 77.3039 27.4167 76.1234 28.5875C74.9428 29.7582 73.4524 30.5672 71.8274 30.9193C70.2024 31.2713 68.5107 31.1516 66.9515 30.5742C65.3924 29.9968 64.0306 28.9859 63.0268 27.6605C62.0229 26.3352 61.4187 24.7506 61.2854 23.0932C61.1521 21.4361 61.495 19.7751 62.2741 18.3062C62.6145 17.6643 62.7656 16.9391 62.7098 16.2146C62.6543 15.4901 62.394 14.7965 61.9594 14.2141C61.5249 13.6318 60.9339 13.1849 60.2553 12.9253C59.5768 12.6658 58.8384 12.6042 58.1261 12.7477L45.3585 15.4836L54.2475 56.7546C54.4583 57.7299 55.0477 58.5815 55.8863 59.1222C56.7249 59.6627 57.7439 59.8482 58.7192 59.6377L79.693 55.1366C79.8896 53.0092 80.2721 48.6584 81.2816 47.3113C82.4289 45.7831 83.2526 50.8725 83.8116 54.2247L96.4615 51.4887C97.4357 51.2766 98.2859 50.6865 98.8255 49.8483C99.3651 49.01 99.5502 47.9918 99.3399 47.0171Z" fill="#FF9900"></path>
                            <path d="M136.493 88.377L133.676 91.5836C133.57 90.8467 133.375 90.1255 133.094 89.436C134.257 89.1894 135.395 88.8348 136.493 88.377Z" fill="#1F5D6A"></path>
                            <path d="M156.967 116.354C156.081 118.745 155.353 121.192 154.79 123.679C158.438 123.824 158.673 123.913 162.144 123.913L156.967 116.354Z" fill="#1F5D6A"></path>
                            <path d="M144.825 177.014C143.825 178.279 142.795 179.514 141.824 180.75L136.295 162.393L144.825 177.014Z" fill="#1F5D6A"></path>
                            <path d="M147.671 70.4047C138.322 59.6963 132.61 64.6386 129.496 70.7577C132.791 64.521 137.997 66.4037 139.173 73.2877C139.291 74.082 139.732 74.0231 139.821 73.9643C140.292 73.8393 140.732 73.6192 141.115 73.3171C143.851 71.4049 145.734 76.2001 141.645 77.5828C141.113 80.5556 140.808 83.5643 140.733 86.5833C140.733 86.5833 157.702 81.8546 147.671 70.4047Z" fill="#1F5D6A"></path>
                            <path d="M158.496 67.7856C155.025 71.4041 149.59 71.8376 146.347 68.727C143.103 65.6164 143.287 60.1662 146.758 56.5477C150.23 52.9293 155.664 52.4957 158.908 55.6063C162.152 58.717 161.968 64.1671 158.496 67.7856Z" fill="#1F5D6A"></path>
                            <path d="M36.5959 254.379C18.7188 268.429 7.79677 274.247 8.08631 276.588C8.70564 281.619 27.1789 273.382 36.4442 274.147C38.6386 274.377 40.8573 274.178 42.9751 273.558C45.358 272.823 47.1556 270.822 49.4471 268.498C43.5636 265.544 38.9845 260.513 36.5959 254.379Z" fill="#1F5D6A"></path>
                            <path d="M250.576 179.631C244.059 175.113 241.286 176.689 235.31 178.248C238.107 184.031 239.258 190.474 238.634 196.869C246.193 195.811 255.136 194.721 260.667 194.391C268.698 193.927 275.727 193.216 276.288 191.891C278.292 187.25 258.163 184.984 250.576 179.631Z" fill="#1F5D6A"></path>
                            <path d="M224.036 96.6702L217.801 97.2895C219.213 93.2313 221.888 92.934 224.036 96.6702Z" fill="#1F5D6A"></path>
                            <path d="M225.215 114.559C223.832 117.618 221.626 117.736 219.743 115L225.215 114.559Z" fill="#1F5D6A"></path>
                            <path d="M184.854 39.2214C184.722 39.2495 184.586 39.2514 184.454 39.2266C184.323 39.2019 184.196 39.1509 184.084 39.0771C183.971 39.003 183.875 38.9075 183.801 38.796C183.725 38.6844 183.674 38.559 183.648 38.4271L181.147 26.1952C181.093 25.9338 181.144 25.6615 181.29 25.438C181.437 25.2146 181.666 25.0584 181.926 25.0037C182.188 24.9491 182.46 25.0006 182.685 25.1468C182.908 25.2929 183.064 25.5219 183.118 25.7833L185.619 38.0152C185.653 38.1448 185.661 38.2803 185.64 38.4128C185.62 38.5454 185.572 38.6723 185.499 38.7857C185.428 38.8988 185.334 38.9961 185.222 39.071C185.111 39.1461 184.985 39.1972 184.854 39.2214Z" fill="#1F5D6A"></path>
                            <path d="M117.489 112.059L112.844 123.383C113.903 123.471 114.992 123.53 116.051 123.589C115.461 119.686 115.959 115.697 117.489 112.059Z" fill="#1F5D6A"></path>
                            <path d="M3.34964 154.652C3.09315 154.898 2.75081 155.036 2.39483 155.036C2.03883 155.035 1.69701 154.897 1.44139 154.649C1.18579 154.401 1.03638 154.064 1.02467 153.708C1.01295 153.351 1.13985 153.006 1.37861 152.741C1.6351 152.495 1.97743 152.357 2.33342 152.357C2.68942 152.359 3.03124 152.497 3.28684 152.745C3.54246 152.992 3.69186 153.33 3.70358 153.686C3.7153 154.042 3.5884 154.387 3.34964 154.652Z" fill="#1F5D6A"></path>
                            <path d="M136.405 107.381C136.434 107.695 136.369 108.01 136.218 108.287C136.068 108.565 135.839 108.791 135.56 108.938C135.281 109.085 134.965 109.146 134.651 109.113C134.337 109.08 134.04 108.955 133.798 108.754C133.555 108.552 133.378 108.283 133.288 107.981C133.198 107.679 133.2 107.357 133.293 107.056C133.386 106.754 133.567 106.487 133.812 106.289C134.057 106.09 134.355 105.968 134.669 105.939C134.878 105.919 135.089 105.94 135.289 106.002C135.49 106.063 135.676 106.164 135.837 106.298C135.999 106.432 136.132 106.597 136.229 106.783C136.327 106.968 136.386 107.172 136.405 107.381Z" fill="#1F5D6A"></path>
                            <path d="M133.816 118.119C133.845 118.433 133.78 118.749 133.63 119.026C133.479 119.303 133.25 119.529 132.971 119.676C132.692 119.823 132.376 119.884 132.062 119.852C131.749 119.819 131.452 119.694 131.209 119.492C130.966 119.291 130.789 119.022 130.699 118.72C130.609 118.417 130.611 118.095 130.704 117.794C130.798 117.493 130.978 117.226 131.223 117.027C131.468 116.828 131.766 116.707 132.08 116.677C132.289 116.657 132.5 116.678 132.701 116.74C132.901 116.801 133.088 116.902 133.249 117.036C133.41 117.17 133.544 117.335 133.641 117.521C133.738 117.707 133.798 117.91 133.816 118.119Z" fill="#1F5D6A"></path>
                            <path d="M133.816 130.119C133.845 130.433 133.78 130.748 133.63 131.026C133.479 131.303 133.25 131.529 132.971 131.676C132.692 131.823 132.376 131.884 132.062 131.851C131.749 131.819 131.452 131.694 131.209 131.492C130.966 131.291 130.789 131.022 130.699 130.719C130.609 130.417 130.611 130.095 130.704 129.794C130.798 129.493 130.978 129.226 131.223 129.027C131.468 128.828 131.766 128.707 132.08 128.677C132.289 128.657 132.5 128.678 132.7 128.74C132.901 128.802 133.087 128.902 133.249 129.036C133.41 129.171 133.543 129.335 133.641 129.521C133.738 129.707 133.798 129.91 133.816 130.119Z" fill="#1F5D6A"></path>
                            <path d="M57.8086 265.76L96.9816 280.999L107.777 253.2C108.405 251.669 109.454 250.348 110.802 249.388C112.15 248.428 113.743 247.871 115.395 247.778C117.047 247.685 118.692 248.063 120.138 248.866C121.585 249.67 122.775 250.867 123.57 252.317C125.383 255.648 128.111 258.39 131.43 260.223C134.75 262.055 138.525 262.902 142.309 262.662C146.093 262.42 149.731 261.104 152.792 258.867C155.854 256.629 158.212 253.564 159.59 250.032C160.968 246.499 161.309 242.645 160.57 238.926C159.832 235.207 158.047 231.776 155.425 229.036C152.802 226.296 149.452 224.364 145.769 223.464C142.085 222.564 138.221 222.736 134.631 223.959C133.063 224.5 131.373 224.583 129.759 224.201C128.145 223.819 126.673 222.986 125.514 221.8C124.355 220.612 123.557 219.121 123.213 217.498C122.868 215.876 122.992 214.188 123.57 212.633L130.866 193.898" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M33.9144 256.467L6.46849 245.784C5.41826 245.375 4.45882 244.763 3.64498 243.985C2.83112 243.204 2.17882 242.272 1.72533 241.241C1.27183 240.21 1.02602 239.098 1.00196 237.971C0.977882 236.845 1.17601 235.724 1.58502 234.674L33.5319 152.566C33.9405 151.515 34.5525 150.553 35.3327 149.739C36.113 148.924 37.0464 148.271 38.0793 147.817C39.1122 147.363 40.2243 147.119 41.3521 147.096C42.4801 147.072 43.6014 147.272 44.6521 147.682L106.276 171.627" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M251.778 99.8496C251.961 100.551 252.238 101.224 252.602 101.85" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M251.696 95.7608C251.956 94.5216 252.483 93.3537 253.238 92.3379C253.994 91.322 254.962 90.4823 256.073 89.8771C259.402 88.0634 262.146 85.3361 263.978 82.0165C265.809 78.6967 266.655 74.9227 266.415 71.1387C266.173 67.3548 264.857 63.7182 262.62 60.6573C260.382 57.5962 257.317 55.2379 253.785 53.8602C250.252 52.4825 246.399 52.1426 242.68 52.8806C238.961 53.6185 235.53 55.4036 232.791 58.0255C230.052 60.6476 228.12 63.9975 227.22 67.681C226.322 71.3645 226.492 75.2281 227.716 78.8173C228.257 80.3856 228.341 82.0755 227.96 83.6899C227.578 85.3044 226.745 86.777 225.557 87.9362C224.37 89.0953 222.879 89.8932 221.254 90.2369C219.632 90.5805 217.944 90.4557 216.389 89.8771L186.62 78.3172L178.878 98.2319" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M218.243 203.553L238.216 211.295C239.267 211.705 240.388 211.905 241.516 211.881C242.643 211.858 243.756 211.612 244.789 211.158C245.822 210.705 246.754 210.053 247.534 209.238C248.314 208.422 248.926 207.462 249.335 206.411L253.844 194.811M254.777 104.422C255.449 104.946 256.192 105.372 256.984 105.687L276.37 113.189C277.422 113.597 278.382 114.209 279.196 114.989C280.011 115.769 280.664 116.703 281.118 117.735C281.571 118.768 281.816 119.88 281.839 121.008C281.862 122.136 281.663 123.257 281.252 124.307L258.354 183.211" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M152.412 134.855C154.397 135.007 156.275 135.815 157.749 137.152C159.224 138.489 160.211 140.279 160.557 142.24" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M119.549 98.3194C123.262 94.5725 128.306 92.447 133.581 92.4062" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M144.288 61.0778L98.5455 43.3105" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M168.117 98.7019L177.735 74.1096L159.38 66.9609" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M113.577 162.126L49.0355 137.033C46.9158 136.203 45.2116 134.566 44.2962 132.482C43.3808 130.398 43.3291 128.035 44.152 125.913L52.7422 103.645C53.2965 102.089 53.404 100.408 53.0525 98.7938C52.701 97.1797 51.9046 95.6961 50.7534 94.5111C49.6022 93.3263 48.1421 92.4874 46.5388 92.0895C44.9353 91.6916 43.2524 91.7506 41.6809 92.2598C38.1002 93.4692 34.2487 93.6317 30.579 92.7282C26.9091 91.8246 23.5733 89.8927 20.9633 87.1593C18.3533 84.4258 16.5775 81.0043 15.8445 77.2967C15.1113 73.589 15.4515 69.7493 16.825 66.2282C18.1984 62.7073 20.548 59.6511 23.598 57.4192C26.6479 55.1871 30.2713 53.8717 34.0428 53.6275C37.8144 53.3832 41.5773 54.2202 44.8895 56.0401C48.2019 57.8602 50.926 60.5876 52.7422 63.902C56.1625 70.1836 65.8164 70.0953 68.5353 63.0488L69.712 60.0187" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M133.088 89.4373C134.259 89.2017 135.401 88.8381 136.494 88.3535L133.677 91.5508" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M154.084 98.4661C150.796 98.3958 147.55 97.6969 144.523 96.4068C142.557 95.34 140.642 93.4061 140.728 86.581C140.806 83.5622 141.111 80.5535 141.64 77.5805C145.73 76.2273 143.884 71.4553 141.111 73.3148C140.09 73.9992 139.35 74.425 139.169 73.3148C138.048 66.3922 132.787 64.5481 129.492 70.7849L128.462 73.1678C126.078 79.8783 125.722 90.5943 133.087 89.4346C133.375 90.1116 133.571 90.8238 133.669 91.5528C133.708 92.2882 132.903 96.2287 132.022 96.7304C130.224 97.7554 127.109 98.7309 121.52 98.4661" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M219.696 115.073C235.782 113.665 238.907 112.694 249.27 111.146C250.329 110.999 251.566 110.767 252.976 110.469C258.187 109.367 258.566 107.682 252.476 107.763C249.384 107.804 246.303 107.397 243.327 106.557" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M245.542 107.09C245.571 107.237 249.427 106.062 254.103 104.613C259.339 102.997 259.661 100.868 253.309 101.759C250.107 102.368 246.823 102.428 243.6 101.936" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M242.484 98.32C242.484 98.32 253.983 95.1367 254.691 94.9137C260.11 93.1594 260.928 95.1212 256.309 97.5908C252.073 99.856 246.424 102.236 246.424 102.236" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M217.651 96.7216C217.332 96.7538 217.1 97.0387 217.133 97.3577C217.165 97.6768 217.45 97.9092 217.769 97.877L217.651 96.7216ZM225.127 96.5546V97.1352C225.141 97.1352 225.153 97.1347 225.167 97.1338L225.127 96.5546ZM230.334 92.8772L230.907 92.9732L230.334 92.8772ZM232.717 85.1108L232.808 84.5373H232.807L232.717 85.1108ZM235.864 94.7894L236.338 94.4531V94.453L235.864 94.7894ZM240.248 94.3482L240.471 94.8841L240.472 94.8836L240.248 94.3482ZM248.366 90.8474L248.123 90.3202L248.121 90.3206L248.366 90.8474ZM250.131 93.2303L250.431 93.727L250.444 93.7195L250.131 93.2303ZM244.156 97.3427C243.938 97.5771 243.95 97.9445 244.184 98.1633C244.418 98.3822 244.786 98.3697 245.004 98.1354L244.156 97.3427ZM217.71 97.2993C217.769 97.877 217.769 97.877 217.769 97.877C217.769 97.8768 217.769 97.8768 217.771 97.8768C217.771 97.8767 217.772 97.8765 217.774 97.8764C217.778 97.8761 217.783 97.8756 217.789 97.8748C217.803 97.8734 217.825 97.8713 217.851 97.8686C217.905 97.8632 217.984 97.8552 218.085 97.8449C218.286 97.8247 218.574 97.7955 218.919 97.7606C219.61 97.6907 220.531 97.5977 221.454 97.5046C222.378 97.4116 223.303 97.3185 224.001 97.2487C224.349 97.2137 224.642 97.1847 224.848 97.1643C224.952 97.1542 225.032 97.1463 225.09 97.1409C225.117 97.1381 225.138 97.1363 225.153 97.1349C225.189 97.1316 225.159 97.1352 225.127 97.1352V95.9739C225.111 95.9739 225.099 95.9745 225.097 95.9747C225.091 95.9749 225.088 95.9752 225.085 95.9753C225.08 95.9756 225.076 95.9761 225.073 95.9762C225.065 95.9769 225.057 95.9776 225.048 95.9784C225.031 95.98 225.008 95.9821 224.978 95.9849C224.921 95.9905 224.837 95.9985 224.735 96.0088C224.528 96.029 224.235 96.0582 223.885 96.0932C223.187 96.163 222.262 96.256 221.338 96.3492C220.415 96.4423 219.494 96.5354 218.802 96.6052C218.456 96.6402 218.17 96.6693 217.969 96.6896C217.868 96.6998 217.788 96.7078 217.735 96.7133C217.707 96.7159 217.687 96.7181 217.673 96.7194C217.665 96.7202 217.661 96.7207 217.658 96.721C217.656 96.7213 217.654 96.7213 217.653 96.7215C217.653 96.7215 217.653 96.7216 217.651 96.7216C217.651 96.7216 217.651 96.7216 217.71 97.2993ZM225.167 97.1338C226.356 97.0523 227.675 96.5632 228.741 95.8497C229.79 95.1466 230.71 94.1453 230.907 92.9732L229.761 92.7812C229.642 93.4933 229.032 94.2571 228.095 94.8848C227.172 95.5023 226.045 95.9097 225.086 95.9753L225.167 97.1338ZM230.907 92.9732C231.045 92.1534 231.161 91.234 231.283 90.3421C231.405 89.4422 231.532 88.5665 231.69 87.8038C231.85 87.0292 232.032 86.4261 232.244 86.0433C232.461 85.6525 232.59 85.6785 232.627 85.6843L232.807 84.5373C232.034 84.4152 231.528 84.944 231.23 85.4804C230.928 86.0247 230.718 86.7729 230.552 87.5678C230.385 88.3745 230.253 89.2863 230.131 90.1858C230.009 91.0929 229.894 91.9846 229.761 92.7812L230.907 92.9732ZM232.625 85.6841C232.933 85.7332 233.228 85.987 233.489 86.6732C233.746 87.3477 233.903 88.2663 234.037 89.31C234.169 90.325 234.282 91.4616 234.462 92.4641C234.64 93.4568 234.901 94.4372 235.391 95.1257L236.338 94.453C236.008 93.9905 235.781 93.2349 235.604 92.259C235.431 91.2928 235.327 90.228 235.189 89.1606C235.055 88.1221 234.886 87.0775 234.575 86.2598C234.268 85.4539 233.748 84.6865 232.808 84.5373L232.625 85.6841ZM235.391 95.1257C235.686 95.5422 236.194 95.6613 236.588 95.6949C237.013 95.7311 237.5 95.6839 237.969 95.6031C238.909 95.441 239.906 95.1196 240.471 94.8841L240.025 93.8121C239.531 94.0181 238.617 94.3129 237.771 94.4587C237.346 94.5321 236.97 94.562 236.687 94.5378C236.372 94.5111 236.323 94.4322 236.338 94.4531L235.391 95.1257ZM240.472 94.8836C242.208 94.1548 248.039 91.6393 248.61 91.374L248.121 90.3206C247.572 90.5756 241.762 93.083 240.023 93.8128L240.472 94.8836ZM248.609 91.3746C249.886 90.7854 250.846 90.495 251.497 90.4104C251.823 90.368 252.038 90.3821 252.164 90.4134C252.286 90.4437 252.266 90.4731 252.24 90.4242C252.215 90.3781 252.249 90.3812 252.209 90.5022C252.169 90.6238 252.071 90.8054 251.879 91.0415C251.497 91.511 250.82 92.1009 249.818 92.7408L250.444 93.7195C251.504 93.042 252.291 92.3745 252.78 91.7745C253.023 91.4758 253.212 91.1696 253.311 90.8661C253.412 90.5622 253.44 90.2031 253.262 89.8735C253.082 89.541 252.765 89.3658 252.443 89.2862C252.125 89.2074 251.752 89.2061 251.346 89.2589C250.532 89.3647 249.453 89.707 248.123 90.3202L248.609 91.3746ZM249.831 92.7337C247.736 94.0026 245.827 95.5536 244.156 97.3427L245.004 98.1354C246.602 96.424 248.429 94.9406 250.431 93.7268L249.831 92.7337Z" fill="white"></path>
                            <path d="M241.484 96.0234C243.422 99.7189 243.993 103.98 243.1 108.056" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M238.689 98.3496C238.306 103.115 236.211 106.41 231.746 107.293" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M154.79 123.677C155.354 121.19 156.081 118.743 156.967 116.352L162.104 123.853" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M141.806 180.709L136.288 162.391L144.818 177.012" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M125.079 147.065C94.721 186.661 77.5453 211.399 37.4432 248.76C31.4047 254.391 48.9861 273.659 55.0943 268.145L65.623 258.645C94.1946 232.817 112.635 215.695 135.226 188.72C135.226 188.72 143.814 178.276 144.814 177.011L160.024 203.104C161.704 205.998 164.234 208.305 167.27 209.711C170.308 211.115 173.703 211.552 176.997 210.959L236.453 200.275C241.778 199.388 237.368 174.706 231.952 175.657L179.059 183.541C179.059 183.541 174.945 165.425 174.259 162.301C173.036 156.615 170.294 151.366 166.327 147.113C162.359 142.86 157.314 139.762 151.726 138.146" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M129.496 70.7551C132.615 64.636 138.322 59.6953 147.676 70.402C157.676 81.8458 140.733 86.6101 140.733 86.6101" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M158.497 67.7836C155.026 71.4021 149.591 71.8357 146.347 68.725C143.104 65.6144 143.288 60.1643 146.759 56.5458C150.231 52.9273 155.665 52.4938 158.909 55.6044C162.153 58.715 161.969 64.1652 158.497 67.7836Z" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M49.4472 268.497C47.1525 270.82 45.3534 272.808 42.9751 273.557C40.857 274.175 38.6387 274.375 36.4442 274.146C27.1758 273.407 8.71032 281.617 8.08634 276.588C7.91137 275.175 13.5876 270.998 20.295 266.523C24.5313 263.699 30.9445 258.817 36.5913 254.375" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M235.305 178.246C239.041 177.275 241.923 176.192 244.659 176.834C246.791 177.376 248.798 178.322 250.572 179.621C258.184 184.944 278.267 187.233 276.284 191.887C275.72 193.209 268.697 193.918 260.662 194.388C255.132 194.713 246.189 195.8 238.63 196.865" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M220.678 94.0554C221.781 93.964 222.976 94.8295 224.037 96.669" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M225.215 114.559C224.568 115.971 223.685 116.853 222.685 116.941" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M185.649 38.0133C185.692 38.274 185.634 38.5417 185.485 38.7599C185.335 38.978 185.106 39.1298 184.847 39.183C184.588 39.2363 184.319 39.1872 184.095 39.0459C183.872 38.9045 183.712 38.682 183.649 38.4251L181.148 26.1932C181.094 25.9317 181.145 25.6594 181.291 25.4359C181.438 25.2125 181.667 25.0563 181.928 25.0018C182.189 24.9471 182.461 24.9985 182.686 25.1447C182.909 25.291 183.065 25.5199 183.119 25.7814L185.649 38.0133Z" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M180.677 18.8633L182.148 25.9826" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M177.059 1.18375C175.31 1.54176 173.708 2.41007 172.454 3.67878C171.198 4.94765 170.348 6.55994 170.01 8.31188C169.671 10.0638 169.86 11.8768 170.552 13.5214C171.244 15.1661 172.409 16.5686 173.898 17.5518C175.386 18.5348 177.134 19.0543 178.918 19.0445C180.703 19.0348 182.444 18.4961 183.922 17.4966C185.401 16.4973 186.548 15.0822 187.223 13.4299C187.897 11.7778 188.066 9.96288 187.708 8.2148C187.471 7.0537 187.007 5.95066 186.344 4.96886C185.68 3.98706 184.83 3.14569 183.84 2.49275C182.851 1.83982 181.744 1.38806 180.579 1.16347C179.417 0.938884 178.22 0.945774 177.059 1.18375Z" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M285.284 166.272L281.843 165.242" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M289.462 163.979L290.462 160.537" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M286.55 173.862L287.579 170.449" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M291.756 168.154L295.169 169.155" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M291.763 168.155C290.905 167.903 290.184 167.322 289.753 166.539C289.323 165.755 289.221 164.834 289.468 163.975C289.216 164.832 288.635 165.554 287.852 165.984C287.068 166.415 286.147 166.517 285.288 166.269C286.146 166.522 286.867 167.102 287.297 167.886C287.728 168.669 287.83 169.59 287.582 170.45C287.835 169.592 288.415 168.87 289.199 168.44C289.982 168.01 290.904 167.907 291.763 168.155Z" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M73.098 70.5486C71.3311 66.3086 70.0291 61.8897 69.2147 57.3691" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M79.6293 55.1053L58.6848 59.6063C57.7095 59.8169 56.6906 59.6314 55.852 59.0907C55.0134 58.55 54.424 57.6984 54.2132 56.7233L45.3583 15.4507L58.1259 12.7148C58.8383 12.5678 59.5776 12.6278 60.257 12.8873C60.9364 13.1469 61.5274 13.5953 61.9604 14.1798C62.3933 14.7642 62.6502 15.4603 62.7005 16.1858C62.7508 16.9114 62.5925 17.6362 62.2445 18.2749C61.4652 19.7419 61.121 21.4008 61.2525 23.0568C61.3838 24.7127 61.9853 26.2968 62.9861 27.6227C63.987 28.9484 65.3455 29.961 66.9021 30.541C68.4586 31.1211 70.1485 31.2447 71.7728 30.8974C73.3973 30.55 74.8887 29.7459 76.0719 28.5798C77.255 27.4138 78.0806 25.9342 78.4516 24.3149C78.8226 22.6958 78.7235 21.0043 78.1659 19.4395C77.6085 17.8746 76.6159 16.5015 75.3047 15.4817C74.7295 15.0393 74.2917 14.4427 74.0424 13.7613C73.7931 13.0799 73.7426 12.3416 73.8968 11.6325C74.0509 10.9235 74.4035 10.2727 74.913 9.75636C75.4227 9.23983 76.0687 8.87891 76.7757 8.71541L90.4553 5.74414L99.3396 47.0152C99.5502 47.9903 99.3647 49.0093 98.824 49.8479C98.2835 50.6864 97.4319 51.2759 96.4566 51.4868L83.7773 54.2227" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M78.7464 66.7834C77.0695 64.7241 76.5106 59.7524 79.4524 57.4934C79.4524 57.4934 79.8441 49.1757 81.2764 47.2867C82.7086 45.3977 83.5106 53.223 84.13 56.1928C84.5372 58.1359 85.6009 62.6354 86.6599 66.3421" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M112.853 123.348L117.518 112.045C115.99 115.684 115.482 119.67 116.048 123.575" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M220.678 94.0563C194.911 97.4085 168.586 99.6149 154.084 98.4675C142.434 101.351 131.492 101.674 121.519 98.4675C116.371 98.2322 109.163 96.8789 99.0156 93.4958L90.6902 66.9619C89.8076 64.0789 69.3912 70.3156 70.2738 73.1986L83.7769 115.03C93.7982 120.157 104.802 123.076 116.047 123.589C116.753 128.649 119.195 135.798 125.079 147.065C131.404 150.831 145.052 145.447 151.555 138.681C152.703 133.386 153.732 128.12 154.792 123.679C177.613 124.452 200.434 122.187 222.657 116.942C216.594 117.466 214.5 94.5781 220.678 94.0563Z" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M44.6475 241.875C40.0288 245.901 57.4987 265.874 62.0926 261.878" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M221.185 177.276C225.245 176.54 229.775 201.486 225.716 202.221" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M203.27 247.084L192.15 275.707" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M212.036 266.937L183.384 255.848" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M4.26183 148.093C4.8502 146.416 5.90927 145.416 8.96877 143.327C15.4455 138.905 14.2331 133.834 10.4103 132.325C9.73458 132.064 9.00981 131.954 8.28709 132.004C7.56438 132.053 6.86133 132.261 6.22744 132.611C5.59355 132.962 5.04424 133.447 4.61823 134.033C4.1922 134.619 3.89985 135.291 3.76172 136.002" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M52.9775 258.055C82.9534 229.973 111.466 200.37 138.404 169.361" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M144.825 143.828C144.825 143.828 160.559 150.771 162.035 163.39C162.855 170.421 167.506 184.954 169.978 192.366C170.405 193.651 171.267 194.748 172.416 195.467C173.565 196.187 174.928 196.484 176.272 196.308L226.605 189.718" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section data-aos="fade-bottom" data-aos-duration="1000" class="bg-gradient-to-t from-white to-transparent py-14 dark:bg-none lg:py-[100px]">
        <div class="container">
            <div class="heading text-center">
                <h4 class="mt-5 mb-10">Have questions? We'll help you.</h4>
            </div>

            <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-2">

                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">What is Angor?</span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            Angor is a decentralized crowdfunding platform built on Bitcoin, incorporating Nostr for enhanced security and transparency. It allows investors to maintain control over their funds and supports direct communication between investors and founders.

                        </p>

                    </div>
                </div>

                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">How does the time-lock contract work?</span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            Time-lock contracts release funds in stages, based on project milestones. Investors can also recover unspent funds, providing flexibility and control over their investments.
                        </p>

                    </div>
                </div>

                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">
                            What role does Nostr play in Angor?
                        </span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            Nostr is used for storing project metadata securely and facilitating direct, uncensored communication between founders and investors.
                        </p>

                    </div>
                </div>


                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">How does Angor benefit investors?</span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            Investors benefit from enhanced control over their funds, reduced investment risk, and direct communication with project founders.

                        </p>

                    </div>
                </div>

                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">What advantages does Angor offer to founders?</span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            Founders enjoy streamlined fundraising in a trust-minimized environment and aligned investor support, which is vital for project success.
                        </p>

                    </div>
                </div>

                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">
                            Is Angor suitable for all types of crowdfunding projects?
                        </span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            Angor is designed primarily for Bitcoin and open-source projects, but its decentralized and secure nature makes it suitable for a wide range of crowdfunding initiatives.
                        </p>

                    </div>
                </div>

                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">
                            How does Angor ensure the security of funds?
                        </span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            Security is achieved through Bitcoin's robust framework, time-lock contracts, and a 2-of-2 multisig approach for critical actions.
                        </p>

                    </div>
                </div>

                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">
                            Can I participate in Angor without extensive knowledge of cryptocurrencies?
                        </span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            While basic knowledge of Bitcoin and cryptocurrencies is helpful, Angor is designed to be user-friendly and accessible to a broad audience.
                        </p>

                    </div>
                </div>

                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">
                            What assets can I invest?

                        </span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            At this moment, Angor solely supports investment transactions conducted with Bitcoin.
                        </p>

                    </div>
                </div>

                <div class="flex h-full">
                    <div class="group flex flex-col rounded-3xl border-2 border-white bg-white p-6 shadow-md transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-primary transition group-hover:bg-black">
                            <img src="assets/images/logo.svg" alt="logo" class="h-6" />
                        </div>
                        <span class="my-8 inline-block text-xl font-extrabold text-black dark:text-white dark:group-hover:text-black">
                            Is the investment process anonymous?
                        </span>
                        <p class="mb-10 text-lg font-semibold transition dark:group-hover:text-black">
                            The anonymity of the investment process is as robust as the Bitcoin network itself, offering a level of privacy consistent with Bitcoin transactions.
                        </p>

                    </div>
                </div>

            </div>

        </div>
    </section>


</div>

@code {

}
